body {
    background-color: #0a0a0a;
    font-family: "Quicksand", "Roboto";
    margin: 0;
    color: rgb(230, 230, 230);
}

.background {
    background-image: url("images/bgImage.jpg");
    background-size: cover;
}

#mainContainer {
    /* START OF THE CONTAINER */
    margin-top: 3rem;
    
    /* GENERAL STYLES */
    /* Paragraphs */
    p.para{
        width: auto;
    }
    /* Buttons */
    button.btn.btn-sm {
        background: linear-gradient(90deg, #0766ea 0.2%, #17ed89 100%);
        text-transform: capitalize;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 2.5px #eee;
        border-radius: 10px;
        display: block;
    }
    /* Buttons Hovered */
    button.btn.btn-sm:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }

    /* FORM SECTION */
    /* Paragraph Alignment */
    .row.intro-form{
        p.para{
            padding: 0;
            margin-left: 10px;
            text-align: start;
            /* background-color: yellow; */
            width: auto;
        }
    }

    /* BOX SECTION  */
    .box-container {
        .col.rounded-start-4 {
            background-color: lightblue;
            color: gray;
        }

        .col.rounded-end-4 {
            background-color: lightpink;
            color: gray;
        }

        .row.mx-auto.my-3 {
            small.descrip {
                font-weight: 600;
                font-style: italic;
            }
        }
    }

    /* IMAGE SECTION */
    #imageContainer{
        .card-img-top{
            height: 300px;
        }
    }








}