body {
    font-family:'Quicksand';
}

.calc.mb-4{
    span.input-group-text{
        font-weight: bolder;
    }
    button{
        font-weight: bolder;
        color: whitesmoke ;
    }
}

.calc.mb-4.add{
    button{
        background-color:lightskyblue;
        border-color: lightskyblue;
    }
    .result {
        margin: auto 140px;
        background-color: lightskyblue !important;
    }
}

.calc.mb-4.mul{
    button{
        background-color:limegreen;
        border-color: limegreen;
    }
    .result {
        margin: auto 140px;
        background-color: limegreen !important;
    }
}

.calc.mb-4.div{
    button{
        background-color:lightcoral;
        border-color: lightcoral;
    }
    .result {
        margin: auto 140px;
        background-color: lightcoral !important;
    }
}

.calc.mb-4.mod{
    button{
        background-color:sienna;
        border-color: sienna;
    }
    .result {
        margin: auto 140px;
        background-color: sienna !important;
    }
}
